<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="me.amryousef.apple.auth.firebase_apple_auth">

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
